*.class
*.egg-info/
*.gz
*.iml
*.pyc
*.pyo
*.rpm
*.so
*.spec
.bash_history
.eggs/
.idea/
exported-artifacts/
sdk/build/
sdk/dist/
sdk/lib/ovirtsdk4
sdk/lib/ovirtsdk4/readers.py
sdk/lib/ovirtsdk4/services.py
sdk/lib/ovirtsdk4/types.py
sdk/lib/ovirtsdk4/writers.py
settings.xml
target/
